{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block main %}

<div class="reg-login">
    <h4>Log in:</h4>
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required>
        </div>
        <p class="notification error">
            {{ notification_error }}
        </p>
        <button class="btn btn-warning" type="submit">Log In</button>
    </form>
</div>

{% if show_modal %}
  
    <div class="infoModal higher-modal" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModalLabel">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="infoModalLabel"><strong><span class="success">Account created</span></strong></h5>
            </div>
            <div class="modal-body">
                <span>The account <b>{{ account }}</b> has been created</span> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="$('#infoModal').hide()">Ok</button>
            </div>
        </div>
        </div>
    </div>

{% endif %}
    
{% endblock main %}