{% extends "layout.html" %}

{% block title %}
Word Generator
{% endblock %}


{% block main %}

<div class="maininfo">
    <h4>Word Generator</h4>
    <form action="/word-generator" method="post">
        <div class="form-row">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="style" id="checkDalish" value="dalishStyle2">
                <label class="form-check-label" for="checkDalish">Dalish (2-1 syllables)</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="style" id="checkDalish" value="dalishStyle3">
                <label class="form-check-label" for="checkDalish">Dalish (3-2 syllables)</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="style" id="checkDalish" value="dalishStyle4">
                <label class="form-check-label" for="checkDalish">Dalish (4-3 syllables)</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="style" id="checkQunari" value="qunari">
                <label class="form-check-label" for="checkQunari">Qunlat</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="style" id="checkCustom" value="custom">
                <label class="form-check-label" for="checkCustom">Custom</label>
            </div>
        </div>
        <button type="submit" class="btn btn-warning mb-4">Generate</button>  
    </form>
    <div>
        <ul class="list-group">
            {% for word in generated_words %}
                <form>
                    <li class="list-group-item list-item-tag" value="{{ word }}">{{ word }}
                        <input name="new_word" value="{{ word }}" type="hidden" id="click">
                        <div class="right">
                            <button type="submit" class="btn btn-success btn-list copy" onclick="copyWord()" value="Copy">Copy</button>
                        </div>
                        
                    </li> 
                </form>
            {% endfor %}
        </ul>
    </div>
</div>



<script>
    
// Script that keeps the chosen radio button selected on the form submit

$(function () {
    let $radios = $('input:radio[name=style]');
    if($radios.is(':checked') === false) {
        $radios.filter('[value={{ chosen_style }}]').prop('checked', true);
    }
});

</script>

{% endblock %}